@{

    Layout = "~/Views/Shared/AdminLayout.cshtml";
}





<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="form-horizontal">
                    
                        <div class="box-header with-border">
                            <h4>Multiple Booking</h4>
                        </div>
                        <div class="box-body">
                            <div id="form-Cons">
                                @using (Html.BeginForm("MultipleBooking", "Booking"))
                {
                    <div class="col-sm-12">

                        <div class="form-group">
                            <label class="col-sm-2"> Start number</label>
                            <div class="col-sm-4">
                                <input id="StartingCons" class="form-control input-sm" type="text" name="StartingCons" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"> End number</label>
                            <div class="col-sm-4">
                                <input id="EndingCons" type="text" class="form-control input-sm" name="EndingCons" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"> Company </label>
                            <div class="col-sm-4">

                                <input type="text" id="Companyid" class="form-control input-sm" name="Companyid" />
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <input id="SubmitM" type="submit" class="btn btn-success" value="submit" />
                            </div>
                        </div>
                    </div>
                    <p class="text-danger rdcls">You can book only upto 100 consignment At One Time...</p>
}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
         alert("@ViewBag.Message");
    </script>
}
<script>
        $(function () {
        var availableTutorials = [

        ];
        var company_idarr = [

        ];

        $.ajax({
            type: 'GET',
            /**/
            /**/
            /**/
            url: '@Url.Action("CustomerIdAutocomplete")',
    /**/
    /**/
    /**/
    data: {},
    dataType: 'json',
    success: function (data) {
        $.each(data, function (i, item) {
            company_idarr.push(item.Company_Id);
        });

    }
});

        $("#Companyid").autocomplete({
            source: company_idarr,
    select: function (event, ui) {
        $("#Companyid").val(ui.item.value);

       // $("#Customer_Id").trigger("focusout");
    }
});
    });

</script>

<script>
    $(document).ready(function () {

        $('#SubmitM').click(function () {
            var StartingCons = $('#StartingCons').val();
            var EndingCons = $('#EndingCons').val();
            var Companyid = $('#Companyid').val();

            if (StartingCons == "") {
                alert("Please Enter Starting Consignment");
                return false;
            }
            else if (EndingCons == "") {
                alert("Please Enter Ending Consignment");
                return false;
            }
            else if (Companyid == "") {
                alert("Please Enter Company Id");
                return false;
            }
            else {

                calstart = StartingCons.substring(1);
                calend = EndingCons.substring(1);

                var conscount = parseInt("0" + calend) - parseInt("0" + calstart) + 1;

                if (conscount > 100) {
                    alert("Selected consignment are over 100");
                    return false;
                }
                else {
                    return true;
                }
        
            }
        });

    });

</script>

<script>
    $(document).ready(function () {

        $('#StartingCons').keyup(function () {
            //alert("Keyup");
            $('#EndingCons').val('');
            $('#StartingCons').val($(this).val().toUpperCase());
            var startno = $("#StartingCons").val();
            if (startno.length >= 9) {
                $('#EndingCons').focus();
            }

        } );

        $('#EndingCons').keyup(function () {
            //alert("Keyup");

            $('#EndingCons').val($(this).val().toUpperCase());

            var endno = $("#EndingCons").val();
            var startno = $("#StartingCons").val();

            var firstchastart = startno.charAt(0);
            var firstcharend = endno.charAt(0);

            if (firstchastart != firstcharend) {
                $('#EndingCons').val('');
            }
            else if (endno.length >= 9) {
                $('#Companyid').focus();
                
            }

        });
    });

</script>