.sectors {
    min-width: 200px;
    color: #dd4b39;
    font-size: 18px;
    font-family: -webkit-pictograph;
}

#DoxTable .upto-input input {
    width: 40px;
    font-size: 12px;
    font-weight: normal;
}

#DoxTable input {
    width: 80px;
}

#DoxTable .upto-input label {
    font-size: 12px;
}

.table > tbody > tr > td, .table > tbody > tr > th {
    border-top: none !important;
}
.table .thead-dark th {
    color: #fff;
    background-color: #3c8cbe;
    border-color: #3c8cbe;
    padding: 12px;
} 
#dtdc_plus input {
    width: 70px;
}

.sectors {
    min-width: 180px;
    color: #222;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}
#dtdc_plus .upto-input label {
    font-size: 12px;
}


#NonDoxTableAir .upto-input input, #NonDoxTableSirf .upto-input input {
    width: 40px;
    font-size: 12px;
    font-weight: normal;
}

#NonDoxTableAir input, #NonDoxTableSirf input {
    width: 80px;
}

#NonDoxTableAir .upto-input label, #NonDoxTableSirf .upto-input label {
    font-size: 12px;
}

#express_cargo input {
    width: 80px;
}


#express_cargo .upto-input label {
    font-size: 12px;
}
#dtdc_ptp, #dtdc_plus, #express_cargo {
    margin-top: 20px;
}
#dtdc_ptp input, #dtdc_ptp2 input {
        width: 70px;
}

#dtdc_ptp .upto-input label, #dtdc_ptp2 .upto-input label { {
    font-size: 12px;
    font-weight: normal;
}



#table_display_block {
    display: block;
}

.height-450 {
    height: 450px;
}