@model DtDc_Billing.Entity_FR.Invoice
@{
    ViewBag.Title = "GenerateInvoice";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}





<div id="form-Cons">
    @Html.Partial("GenerateInvoiceLastYearPartial", Model)
</div>