
@{
    ViewBag.Title = "AddImage";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h4>ADD ADVERTISEMENT IMAGE</h4>
                </div>

                <div class="form-horizontal">
                    <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @using (Html.BeginForm("AddImage", "Customer", FormMethod.Post,new { enctype = "multipart/form-data" }))
    {
                                    <div class="col-md-3">
                                        <label for="file"><strong id="up-txt"> Upload Image </strong></label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="file" name="file" id="file" class="form-control" />
                                    </div>
                                    <div class="col-md-2">
                                    <input type="submit" value="Upload" class="btn btn-primary" />
                                    </div>
}
                                    </div>
                                </div>
                            </div>
                        <hr />
                            <div class="row">
                                <div class="col-md-12">

                                    @using (Html.BeginForm("DeleteAddImage", "Customer", FormMethod.Get))
                                    {
                                        <div class="col-md-12">
                                            @if (ViewBag.Current != null)
                                            {
                                                <img src="@ViewBag.Current" height="500" width="500">
                                                <input type="submit" value="Delete" class="btn btn-danger" />
                                            }
                                            else
                                            {
                                                <p>No Image Available</p>
                                            }
                                        </div>

                                    }

                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



                        @if (ViewBag.Success != null)
                        {
                            <script>
    alert('@ViewBag.Success');
                            </script>
                        }
