
@{
    ViewBag.Title = "AddCodPayment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




@{
    ViewBag.Title = "Dreport";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h4>Add Cod Payment</h4>
                </div>
                <div class="form-horizontal">
                    <div class="box-body">

                        <div id="form-Cons">
                            @*@Html.Partial("EditConsignmentPartial", Model)*@
                            @{ Html.RenderPartial("EditCodPartial", (DtDc_Billing.Entity_FR.addcodamount)ViewBag.Cod);}
                        </div>

                        <div id="tr-table" style="margin-top:20px;">
                            @{ Html.RenderPartial("CodSearchPartial", (IEnumerable<DtDc_Billing.Entity_FR.TransactionView>)ViewBag.Codlist);}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



